* {
    margin: 0px;
}

.blue, .red, .yellow {
    width: 100px;
    height: 100px;

}

.container {
    width: 300px;
    height: 300px;
    background-color: grey;
    position: relative;
    

}
.yellow {
    background-color: yellow;
    position: absolute;
}

.red {
    background-color: red;
    margin-left: 100px;
    top: 100px;
 
}

.blue {
    background-color: blue;
    
    margin-left: 200px;
    top: 200px;
}

